<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hệ thống nhận dạng Logo xe</title>

        <link rel="stylesheet" href="giaoDien.css">
        
    </head>
    <body>
        <div class="KhungChua">
            <div class="BenNhanDang">
                <div class="nhanAnhDauVao">
                    <h2 class="tieude">Hệ thống nhận dạng hãng xe ô tô</h2>
                    <div class="NoiNhanAnh">
                        <form action="/" method="post">
                            
                        </form>
                        <label for="fileImage" class="chonteptin">Chọn ảnh</label>
                        <input type="file" id="fileImage" value="" name="LayAnhDauVao"/>
                        <button type="button" onclick="LayPath()"> an</button>
                    </div>
                    <p style="text-align: center; color: aliceblue; z-index: 10;">Chỉ hỗ trợ tệp tin: .png, .jpg</p>
                </div>
                <div class="DuDoanAnhDauVao">
                    <h2 class="tieude"> Kết quả nhận diện:</h2>
                    <div>
                        <p id="test1">-----</p>
                    </div>
                    <div class="HienThiAnhDauRa">
                        <img src="imageEmpty.jpg" alt="" class="AnhDauRa" id="ChoNhanAnh">
                    </div>
                </div>
            </div>
            <div class="BenTimThongTin">
                Tìm kiếm
            </div>
        </div>
    </body>
    <script src="chuyenDoi.js" async></script>
</html>